@page "/NewNav"

 <div>

     <NavLink class="nav-link" href="QuizApp">
        <span class="oi oi-home" aria-hidden="true"></span> QuizApp
</NavLink>


 <NavLink class="nav-link" href="FormulaApp">
        <span class="oi oi-home" aria-hidden="true"></span> FormulaApp
</NavLink>


 <NavLink class="nav-link" href="ImageApp">
        <span class="oi oi-home" aria-hidden="true"></span> ImageApp
</NavLink>



 <NavLink class="nav-link" href="LCM">
        <span class="oi oi-home" aria-hidden="true"></span> LCM
</NavLink>


</div>

@code {
     
}
